{block content}
<h1>Nastavení</h1>

<ul>
	<li><a n:href="CountedCompetitions:">počet započítávaných závodů</a></li>
	<li><a n:href="MemberCount:">maximální počty závodníků v soupiskách ligových týmů</a></li>
	<li><a n:href="TeamNameOverride:">přepsání názvu týmu u závodníka v žebříčku</a></li>
</ul>