{block title}Soupisky {$rok} | LRU plavaná{/block}
{block content}
{include '../menu.latte'}
<h1>Soupisky - Rok {$rok}</h1>

<ul n:inner-foreach="$ligy as $k => $l">
	<li><a n:href="Soupisky:detail $rok, $k">{$l}</a></li>
</ul>


{if !empty($backlink)}<p><a href="{$backlink}">zpět</a></p>{else}
	<p><a n:href="Homepage:default">zpět na žebříček</a></p>{/if}