{block content}
<h1>Nastavení maximálního počtu závodníku na soupisce</h1>

{include 'current.latte'}

{include #flashes}

<p>Zadejte maximální počet členů týmu a volitelně i rok počátku a konce platnosti nové hodnoty. Zadané roky se nesmí
	překrývat s již vyplněnými hodnotami. Když nevyplníte rok konce platnosti, není platnost omezena.</p>
{control addForm}

<p style="margin-top: 6em"><a n:href=":Admin:Config:" class="btn btn-default">zpět do Nastavení</a></p>