{block content}
<h1>Nastavení počtu závodů započítávaných do žebříčku</h1>

{include #flashes}

{include 'current.latte'}

<p><a n:href="add" class="btn btn-primary">Přidat nový záznam</a></p>

<p style="margin-top: 6em"><a n:href=":Admin:Config:" class="btn btn-default">zpět do Nastavení</a></p>