# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

parameters:
	db:
		server:
		dbname:
		user:
		password:

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

database:
	dsn: 'mysql:host=%db.server%;dbname=%db.dbname%'
	user: %db.user%
	password: %db.password%

extensions:
	- App\Extensions\DefaultYearExtension

services:
	router: App\RouterFactory::createRouter
	- App\Model\Teams
	- App\Model\Competitions
	- App\Model\CompetitionTypes
	- App\Model\ScoringTables
	- App\Model\TeamNameOverrides
	- App\Model\Rankings
	- App\Model\Ranking
	- App\Model\Suggest
	- App\Model\Leagues
	- App\Model\Competitors
	- App\Model\ExcelExport
	- App\Model\CheckedResults
	- App\Model\Categories