# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

parameters:
	db:
		server:
		dbname:
		user:
		password:

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

database:
	dsn: 'mysql:host=%db.server%;dbname=%db.dbname%'
	user: %db.user%
	password: %db.password%


services:
	router: App\RouterFactory::createRouter
	tymy: App\Model\Tymy
	kategorie: App\Model\Kategorie
	zavody: App\Model\Zavody
	zavodnici: App\Model\Zavodnici
	zebricek: App\Model\Zebricek
	suggest: App\Model\Suggest

	authenticator:
		class: Nette\Security\SimpleAuthenticator
		arguments: [[
			***REMOVED***: ***REMOVED***
			***REMOVED***: ***REMOVED***
		]]