{block content}
<h1>Úprava maximálního počtu závodníku na soupisce</h1>

{include 'current.latte'}

{include #flashes}

<p>Zadejte maximální počet členů týmu a volitelně i rok počátku a konce platnosti nové hodnoty. Zadané roky se nesmí
	překrývat s již vyplněnými hodnotami. Když nevyplníte rok konce platnosti, není platnost omezena.</p>
{control addForm}