{block title}Soupisky {$year} | LRU plavaná{/block}
{block content}
<h1>Soupisky - Rok {$year}</h1>

<ul n:inner-foreach="$leagues as $k => $l">
	<li><a n:href="Rosters:detail $year, $k">{$l}</a></li>
</ul>


{if !empty($backlink)}<p><a href="{$backlink}">zpět</a></p>{else}
	<p><a n:href="Homepage:">zpět na žebříček</a></p>{/if}