{var $robots = noindex}
{block content}

<h1>{if $message !== null && $message !== ''}{$message}{else}Page Not Found{/if}</h1>

<p>Je nám líto, ale stránka, kterou jste chtěli otevřít, neexistuje.</p>

<p><small>error 404</small></p>
