{block content}
{dump $kategorie}

<table>
    <tr><th>Jméno</th><th>Kategorie</th></tr>
    <tr n:foreach="$kategorie as $t">
	<td>{$t['cele_jmeno']}</td>
	<td>{$kategoriePrevod[$t['kategorie']]}</td>
    </tr>
</table>