{block content}
<h1>Nastavení</h1>

<ul>
	<li>počet započítávaných závodů</li>
	<li>druhy závodů</li>
	<li>kategorie závodů</li>
	<li>ligy</li>
	<li>bodovací tabulky</li>
	<li>maximální počty závodníků v soupiskách ligových týmů</li>
	<li><a n:href="override">přepsání názvu týmu u závodníka v žebříčku</a></li>
</ul>