body {
	font: 16px/1.5 "Trebuchet MS", "Geneva CE", lucida, sans-serif;
	color: #333;
	background-color: #fff;
}

h1 {
	font-size: 150%;
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="error:"] {
	background: red;
	color: white;
}


/*table#zebricek,
table#detailZebricku,
table#detailZavodu,
table#hlavickaZavodu,
table#hlavickaDetailuZebricku,
table#seznamZavodu,
table#potvrzeniPridaniZebricku,
table#hlavickaTymu,
table#slozeniTymu,
table#ligovaTabulka,
table#clenstviVTymech */

table {
    border-collapse: collapse;
    border: 1px solid #aaa;
}

/*table#zebricek td, table#zebricek th,
table#detailZebricku td, table#detailZebricku th,
table#detailZavodu td, table#detailZavodu th,
table#hlavickaZavodu td, table#hlavickaZavodu th,
table#hlavickaDetailuZebricku th, table#hlavickaDetailuZebricku td,
table#seznamZavodu th, table#seznamZavodu td,
table#potvrzeniPridaniZebricku th, table#potvrzeniPridaniZebricku td,
table#hlavickaTymu th, table#hlavickaTymu td,
table#slozeniTymu th, table#slozeniTymu td,
table#ligovaTabulka th, table#ligovaTabulka td,
table#clenstviVTymech th, table#clenstviVTymech td*/
table th, table td
{
    border: 1px solid #aaa;
    text-align: center;
    padding: 0.1em 0.5em;
}
/*
table#zebricek td.vlevo, table#detailZebricku .vlevo, table#ligovaTabulka .vlevo, table#slozeniTymu .vlevo*/
table .vlevo {
    text-align: left;
}

/*table#zebricek tr.even,
table#detailZebricku tr.even,
table#detailZavodu tr.even,
table#seznamZavodu tr.even,
table#potvrzeniPridaniZebricku tr.even*/
table tr.even {
    background-color: #f1f1f1;
}

/*table#zebricek tr.odd,
table#detailZebricku tr.odd,
table#detailZavodu tr.odd,
table#seznamZavodu tr.odd,
table#potvrzeniPridaniZebricku tr.odd*/
table tr.odd {
    background-color: #e7e7e7;
}

/*
table#zebricek td.thickRight,
table#zebricek th.thickRight*/
table td.thickRight, table tr.thickRight {
    border-right: 2px solid #000;
}

span.zebricek {
	color: #00f;
}

table#potvrzeniPridaniZebricku tr.pridat {
	background-color: #99ff00;
}

table#potvrzeniPridaniZebricku tr.nepujde {
	background-color: #ED8383;
}

table#ligovaTabulka .borderTop {
	border-top: 2px solid #666;
}