body {
	font: 16px/1.5 "Trebuchet MS", "Geneva CE", lucida, sans-serif;
	color: #333;
	background-color: #fff;
}

h1 {
	font-size: 150%;
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="error:"] {
	background: red;
	color: white;
}


table#zebricek {
    border-collapse: collapse;
    border: 1px solid #aaa;
}

table#zebricek td, table#zebricek th {
    border: 1px solid #aaa;
    text-align: center;
    padding: 0.1em 0.5em;
}

table#zebricek td.vlevo {
    text-align: left;
}

table#zebricek tr.even {
    background-color: #f1f1f1;
}

table#zebricek tr.odd {
    background-color: #e7e7e7;
}

table#zebricek td.thickRight, table#zebricek th.thickRight {
    border-right: 2px solid #000;
}