.noprint {
    font: 16px/1.5 "Trebuchet MS", "Geneva CE", lucida, sans-serif;
}

h1 {
    color: #3484D2;
    font: 24px/1.5 "Trebuchet MS", "Geneva CE", lucida, sans-serif;
    font-weight: bold;
}

h2 {
    color: #000;
    font: 24px/1.5 "Trebuchet MS", "Geneva CE", lucida, sans-serif;
    font-weight: bold;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

a[href^="error:"] {
	background: red;
	color: white;
}

table {
    border-collapse: collapse;
    border: 1px solid #aaa;
    margin-bottom: 2em;
}

table th, table td
{
    border: 1px solid #aaa;
    text-align: center;
    padding: 0.1em 0.5em;
    font: 16px/1.5 "Trebuchet MS", "Geneva CE", lucida, sans-serif;
}

td.l {
    text-align: left;
}

table th {
    font-weight: bold;
}

table .vlevo {
    text-align: left;
}

table tr.even {
    background-color: #f1f1f1;
}

table tr.odd {
    background-color: #e7e7e7;
}
table td.thickRight, table tr.thickRight {
    border-right: 2px solid #000;
}

span.zebricek {
	color: #00f;
}

table#potvrzeniPridaniZebricku tr.pridat {
	background-color: #99ff00;
}

table#potvrzeniPridaniZebricku tr.nepujde {
	background-color: #ED8383;
}

table#ligovaTabulka .borderTop {
	border-top: 2px solid #666;
}

a {
    color: #00f;
    text-decoration: underline;
}

.navbar a {
    text-decoration: none;
}

a.btn {
    text-decoration: none;
}

ul.error {
    list-style: none;
    padding-left: 0px;
}

ul.error li {
    color: #f00;
}